# Core Data Science
numpy
pandas
matplotlib
seaborn
scikit-learn
ipykernel
pytest



# Deep Learning (PyTorch)
torch
torchvision
torchaudio

# Hugging Face Suite (LLM & Fine-Tuning)
transformers
datasets
accelerate
peft
trl
sentence-transformers

# RAG & Vector Databases
langchain
langchain-community
langchain-ollama
langchain-huggingface
faiss-cpu
trafilatura

